<?php
$CONFIG = array (
  'trusted_domains' => 
  array (
    0 => '{{ cloud_server }}',
  ),
  'datadirectory' => '{{ cloud_data_dir }}',
  'overwrite.cli.url' => 'https://{{ cloud_server }}:{{ cloud_port }}',
  'htaccess.RewriteBase' => '/',
  'dbtype' => 'pgsql',
  'dbname' => '{{ cloud_db }}',
  'dbhost' => '{{ cloud_db_host }}',
  'dbtableprefix' => '{{ cloud_db_prefix }}',
  'dbuser' => '{{ cloud_db_user }}',
  'passwordsalt' => '{{ cloud_pw }}',
  'secret' => '{{ cloud_secret }}',
  'dbpassword' => '{{ cloud_db_pw }}',
  'instanceid' => '{{ cloud_id }}',
  'version' => '{{ cloud_db_version }}',
  'logtimezone' => 'UTC',
  'installed' => true,
  'maintenance' => false,
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'updatechecker' => true,
  'loglevel' => 2,
  'singleuser' => false,
  'asset-pipeline.enabled' => true,
  'part_file_in_storage' => false,
  'filelocking.enabled' => false,
  'enabledPreviewProviders' => 
  array (
    0 => 'OC\\Preview\\PNG',
    1 => 'OC\\Preview\\JPEG',
    2 => 'OC\\Preview\\GIF',
    3 => 'OC\\Preview\\BMP',
    4 => 'OC\\Preview\\XBitmap',
    5 => 'OC\\Preview\\MP3',
    6 => 'OC\\Preview\\TXT',
    7 => 'OC\\Preview\\MarkDown',
    8 => 'OC\\Preview\\Movie',
  ),
  'theme' => '',
  'mail_smtpmode' => 'php',
  'mail_smtpsecure' => 'ssl',
  'mail_smtpauthtype' => 'LOGIN',
  'mail_from_address' => 'nextcloud',
  'mail_domain' => 'seanho.com',
);
