## Nginx config for nextCloud
## {{ansible_managed}}

# Prepare for PHP caching
fastcgi_cache_path {{ cloud_cache_dir }} levels=1:2 keys_zone=CLOUD:20m inactive=4w max_size=200M use_temp_path=off;
fastcgi_cache_key $http_cookie$request_method$host$request_uri;
fastcgi_cache_valid 2w;
fastcgi_cache_methods GET HEAD;
fastcgi_cache_use_stale updating error timeout invalid_header http_500;
fastcgi_cache_lock on;
map $request_uri $skip_cache {
	default 1;
	~*/thumbnail.php 0;
	~*/apps/galleryplus/ 0;
	~*/apps/gallery/ 0;
}
fastcgi_cache_bypass $skip_cache;
fastcgi_no_cache $skip_cache;
fastcgi_ignore_headers Cache-Control Expires Set-Cookie;

server {
	listen {{ cloud_port }} ssl http2;
	listen [::]:{{ cloud_port }} ssl http2;
	server_name {{ cloud_server }};
	root {{ cloud_www_dir }};

	access_log /var/log/nginx/nc-access.log combined gzip=9;
	error_log  /var/log/nginx/nc-error.log error;

	# See php.ini: upload_max_filesize, post_max_size, max_execution_time, max_input_time
	client_max_body_size 10G;
	fastcgi_buffers 64 4K;

	fastcgi_cache CLOUD;		# Enable PHP caching

	error_page 403 /core/templates/403.php;
	error_page 404 /core/templates/404.php;

	rewrite ^/.well-known/(.*dav)($|/) /$1 permanent;
	rewrite ^/(webdav|dav|caldav|calendar|carddav|contacts|files)(.*)$ /remote.php/$1/$2 redirect;
	rewrite ^/remote/(.*)$ /remote.php/$1 redirect;

	location = /robots.txt {
		allow all;
		log_not_found off;
		access_log off;
	}

	location ~ ^/(\.|autotest|occ|issue|indie|db_|console|build|tests|config|lib|3rdparty|templates|data)/ {
		deny all;
	}

	location / {
		rewrite ^ /index.php$uri last;
	}

	location ~ ^/(?:updater|ocs-provider)(?:$|/) {
		try_files $uri/ =404;
		index index.php;
	}

	location ~ ^/(?:index|remote|public|cron|core/ajax/update|status|ocs/v[12]|updater/.+|ocs-provider/.+)\.php(?:$|/) {
		include php-fpm;
		fastcgi_request_buffering off;
		fastcgi_param front_controller_active true;
	}

	# Must be BELOW the "location ~ \.php(?:$|/)" block
	location ~* \.(?:css|js|woff|svg|gif)$ {
		try_files $uri /index.php$uri$is_args$args;
		access_log off;
		expires 14d;
	}

	# Other assets
	location ~* \.(?:png|html|ttf|ico|jpg|jpeg)$ {
		try_files $uri /index.php$uri$is_args$args;
		access_log off;
	}
}
